<!DOCTYPE html>
<html>

<head>
    <title>Awesome Blog</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header class="site_header">
        <div class="site_brand">
            <h1><a style="float: left;" href="{% url 'home'%}">Awesome Blog</a></h1>
            <div style="float:right;" class="title_menu">
                {% if user.is_authenticated %}
                <a href="{% url 'post-new' %}"> + New Post </a> | <a href="{% url 'logout' %}"> Logout</a>
                {% else %}
                <a href="{% url 'login' %}">Login </a> | <a href="{% url 'register' %}"> Register</a>
                {%endif%}
            </div>
        </div>
    </header>

    <div class="content_wrapper">
        <div class="content">
            {% block content%}
            <h1>
                Welcome to home of awesome blog.
            </h1>
            {%endblock%}
        </div>
        <div class="sidebar">
            <div class="widget">
                <h1 class="widget_title">Sidebar Title</h1>
            </div>
        </div>
    </div>
</body>

</html>